node{
    fill-mode : dyn-plain;
    size : 90px;
    text-size : 20px;
    fill-color : white,black;
    text-alignment:center;
    text-color:blue;
    stroke-mode:plain;
    stroke-color:blue;
}

node.Processor{
	shape:diamond;
	fill-color: yellow;
	size:80px;
	text-alignment:center;
	stroke-mode:plain;
    stroke-color:blue;
  
}
edge{
	
}
graph{
	fill-color:#F1DDCF;
	
}
graph.ProcessorGraph{
	visibility-mode:hidden;
}